{% extends "base.html" %}

{% block content %}

{% if page.url_to_print_page %}
    <a href="{{ page.url_to_print_page }}" title="Print Site" class="md-content__button md-icon">
        {% include ".icons/material/printer.svg" %}
    </a>
{% endif %}

{{ super() }}
{% endblock content %}

{#
    Extend the last block in the `base.html` before the changes are applicable
    to avoid any issues with the hacky page.meta
#}
{% block scripts %}
    {# Include original content before the additions #}
    {{ super() }}
    {% if page %}
        {% if not page.meta %}
            {# Set page.meta to an empty dict/mapping #}
            {% set _ = page.__setattr__("meta", {}) %}
        {% endif %}
		{# Let It Snow by updating the dict/mapping pair #}
		{% set _ = page.meta.update({"ᴴₒᴴₒᴴₒ": True}) %}
    {% endif %}
{% endblock %}

{% block announce %}
    {%
        set announcement = {
            "en": "This page has not yet been translated into LANGUAGE, therefore it is displayed in English.",
            "fr": "Cette page n'a pas encore été traduite en Francais, elle est donc affichée en anglais.",
            "de": "Diese Seite wurde noch nicht ins Deutsche übersetzt, daher wird sie auf Englisch angezeigt.",
            "it": "Questa pagina non è stata ancora tradotta in italiano, pertanto viene visualizzata in inglese.",
            "nl": "Deze pagina is nog niet in het Nederlands vertaald en wordt daarom in het Engels weergegeven.",
            "pt": "Esta página ainda não foi traduzida para o português, portanto é exibida em inglês.",
            "es": "Esta página aún no ha sido traducida al español, por lo tanto se muestra en inglés.",
            "th": "หน้านี้ยังไม่ได้แปลเป็นภาษาไทย ดังนั้นจึงแสดงเป็นภาษาอังกฤษ",
            "zh": "该页面尚未翻译成中文，因此以英文显示",
        }
    %}
    {%
        set call_to_action = {
            "en": "Support us and translate!",
            "fr": "Soutenez-nous et traduisez !",
            "de": "Unterstütze uns und übersetze!",
            "it": "Sostienici e traduci!",
            "nl": "Help ons en vertaal deze pagina!",
            "pt": "Apoie-nos e traduza!",
            "es": "¡Apóyanos y traduce!",
            "th": "สนับสนุนเราและแปล!",
            "zh": "支持我们并翻译！"
        }
    %}
    {% if i18n_page_locale != "en" and i18n_file_locale != i18n_page_locale %}
        <div class="gmc-announce">
            {{ announcement[i18n_page_locale] }}
            <a href="/gmc/{{ i18n_page_locale }}/contribute/#translations">{{ call_to_action[i18n_page_locale] }}</a>
        </div>
    {% endif %}
    {# Add script with additional localization for use in extra.js #}
    <script>
        const gGMC_SELECT_VERSION = "{{ lang.t('select.version') }}";
        const gGMC_TRANSLATE_CTA = "{{ call_to_action[i18n_page_locale] }}";
        const gGMC_PAGE_LOCALE = "{{ i18n_page_locale }}";
        const gGMC_FILE_LOCALE = "{{ i18n_file_locale }}";
        const gGMC_TRANSLATE_SVG = '{% include ".icons/material/web-plus.svg" %}';
    </script>
    {# Include original content after the additions #}
    {{ super() }}
{% endblock %}
